## Module:      glpi-helpdesk
## Loaded by:   WebUI

# GLPI needs Webservices plugin to be installed and enabled.
define module {
    module_name     glpi-helpdesk
    module_type     glpi-helpdesk

    # Glpi Web service URI
    uri             http://localhost/plugins/webservices/xmlrpc.php
    # Default : shinken
    login_name      shinken
    # Default : shinken
    login_password  shinken
}
